<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Potwierdzenie rejestracji</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" th:href="@{/css/style-core.css}">

</head>
<body>
<div class="container">
  <div class="confirmation-container">
    <h1>Potwierdzenie rejestracji</h1>
    <p>Rejestracja zakończona pomyślnie.<br> Możesz teraz zalogować się do swojego konta.</p>
    <a th:href="@{/login}" class="btn btn-primary btn-lg btn-block">Przejdź do strony logowania</a>
  </div>
</div>
</body>
</html>
