<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Opinie pacjenta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style-opinions.css}">

</head>

<body>

<div class="container">

    <div class="header">
        <div class="header-logo">
            <img th:src="@{/images/2135.jpg}" alt="Logo" title="Strona główna">
        </div>
        <a th:href="@{/}" class="btn btn-info" role="button">Strona główna</a>
    </div>

    <h1>Twoje Opinie</h1>

    <hr>

    <div class="media-body">

        <h2>Opinie o lekarzu</h2>
        <ul th:if="${opinions.isEmpty()}">
            <li>Brak opinii, umów się na wizytę i napisz pierwszą</li>
        </ul>

        <ul th:if="${not opinions.isEmpty()}">
            <li th:each="opinion : ${opinions}">
                <ul>
                    <li>Id opinii: <span th:text="${opinion.opinionId}"></span></li>
                    <li>Lekarz: <span
                            th:text="${opinion.doctor.name + ' ' + opinion.doctor.surname + ' - ' + opinion.doctor.title}"></span>
                    </li>
                    <li>Data: <span th:text="${#temporals.format(opinion.createdAt, 'dd MM yyyy HH:mm')}"></span>
                    </li>
                    <li>Opinia: <span class="media-body__opinion" th:text="${opinion.comment}"></span></li>
                    <li class="li-btn">
                        <form class="delete-form" action="#" th:action="@{/opinions/{opinionId}/delete(opinionId=${opinion.opinionId})}"
                              th:method="DELETE">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>

                        <a class="btn btn-info" th:href="@{/opinions/{opinionId}/show(opinionId=${opinion.opinionId})}">Pokaż</a>
                    </li>
                </ul>
                <hr>
            </li>

        </ul>

        <div class="actions">
            <a th:href="@{/doctors/pagination}" class="btn btn-primary btn-lg">Umów wizytę</a>
            <button class="btn btn-primary" onclick="history.go(-1);">Powrót</button>
        </div>

    </div>

</div>

<div class="footer">
    <div th:replace="~{fragments/footer.html}"></div>
</div>

</body>

</html>