<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" th:href="@{/css/style-update-contact.css}">

  <title>Formularz do aktualizacji e-mail</title>

</head>
<body>
<h1>Aktualizuj e-mail</h1>
<form th:object="${patient}" th:action="@{/patients/updateEmail}" th:method="patch">
  <input type="hidden" name="_method" value="patch">

  <label for="email">Adres e-mail:</label>
  <input type="email" id="email" field="*{email}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Wprowadź poprawny adres e-mail" required>

  <input type="hidden" field="*{patientId}">

  <button type="submit" class="btn btn-danger">Aktualizuj</button>
</form>

<br><br>
<button class="btn btn-primary btn-lg" onclick="history.go(-1);">Powrót</button>

</body>
</html>
