<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" th:href="@{/css/style-update-contact.css}">

  <title>Formularz do aktualizacji numeru telefonu</title>

</head>
<body>
<h1>Aktualizuj numer telefonu</h1>
<form th:object="${patient}" th:action="@{/patients/updatePhoneNumber}" th:method="patch">
  <input type="hidden" name="_method" value="patch">
  <label for="phoneNumber">Numer telefonu:</label>
  <input type="text" id="phoneNumber" th:field="*{phone}">

  <input type="hidden" th:field="*{patientId}">

  <button type="submit" class="btn btn-danger disabled">Aktualizuj</button>
</form>
<br><br>
<button class="btn btn-primary btn-lg" onclick="history.go(-1);">Powrót</button>

</body>
</html>
