<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" th:href="@{/css/style-update-contact.css}">

  <title>Formularz do aktualizacji e-mail</title>

  <script>
    function showConfirmation() {
      if (confirm('Czy na pewno chcesz zaktualizować e-mail pacjenta? Nie jest jeszcze rozwiązany problem z kredkami!!!!')) {
        return true;
      } else {
        return false;
      }
    }
  </script>
</head>
<body>
<h1>Aktualizuj e-mail</h1>
<form th:object="${patient}" th:action="@{/patients/updateEmail}" th:method="patch" onsubmit="return showConfirmation();">
  <input type="hidden" name="_method" value="patch">
  <label for="email">E-mail:</label>
  <input type="text" id="email" th:field="*{email}">

  <input type="hidden" th:field="*{patientId}">

  <button type="submit" class="btn btn-danger disabled">Aktualizuj</button>
</form>

<br><br>
<button class="btn btn-primary btn-lg" onclick="history.go(-1);">Powrót</button>

</body>
</html>
