<footer xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="contact-info">
    <p><b>E-Clinic sp. z o.o.</b></p>
    <p>Numer telefonu: 123-456-789</p>
    <p>E-mail: info@eclinic.pl</p>
    <p>Adres: ul. Przykładowa 123, 51-000 Wrocław</p>
  </div>
  <div class="opening-hours">
    <p><b>Godziny otwarcia:</b> Poniedziałek - Piątek, 8:00 - 17:00</p>
  </div>
  <div class="navigation-menu">
    <a th:href="@{/}">Strona główna</a>
    <a href="/services">Usługi</a>
    <a href="/doctors">Lekarze</a>
    <a href="/registration">Rejestracja</a>
  </div>
  <div class="privacy-policy">
    <a href="/privacy">Polityka prywatności</a>
    <a href="/terms">Regulamin</a>
  </div>
</footer>
