<div class="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <img th:src="@{/images/2135.jpg}" class="logo" alt="logo">

    <div class="air__container" th:style="'background-color: ' + ${backgroundColor}">
        <p>Jakość powietrza w naszej okolicy:</p>
        <p class="air--q" th:text="${airQuality}"></p>
        <a th:href="@{/air/airquality}" title="Jakość powietrza">Szczegóły</a>
    </div>

    <div class="login-button">
        <p>Zalogowany: <span th:text="${username}"></span></p>
        <a th:href="@{/logout}" class="btn btn-primary">Wyloguj</a>
        <button><a th:href="@{/-new}">nowy layout</a></button>
    </div>
</div>