<header class="header__fra" xmlns:th="http://www.w3.org/1999/xhtml">

    <a th:href="@{/}" class="logo">
        <img class="header__logo-img" th:src="@{/images/2135.jpg}" alt="logo firmy" title="Strona główna">
    </a>

    <div class="header__btns">
        <p class="header__username-p">Zalogowany: <span th:text="${username}"></span></p>

        <button class="header__logout-btn"><a th:href="@{/logout}">Wyloguj</a></button>

        <button class="header__go-back-btn" onclick="history.go(-1);">Powrót</button>
    </div>


</header>


