<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<header class="header">-->
<header xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="logo">
    <a href="/" th:href="@{/}">
      <img th:src="@{/images/2135.jpg}" alt="Logo" width="180" height="180">
    </a>
  </div>

  <div class="welcome"></div>

  <div class="login-button">
    <p>Zalogowany: <span th:text="${username}"></span></p>
    <a th:href="@{/logout}" class="btn btn-primary">Wyloguj</a>
    <button class="btn btn-primary" onclick="history.go(-1);">Powrót</button>
  </div>
</header>


<!--</body>-->
<!--</html>-->