<div xmlns:th="http://www.w3.org/1999/xhtml">
  <h1>Witaj, Pacjencie!</h1>
  <h2>Korzystaj z naszych usług! Umów się na wizytę i nie trać czasu ani zdrowia!</h2>
  <div class="btn-container">
    <a th:href="@{/doctors}" class="btn btn-primary btn-lg">Przeglądaj dostępnych lekarzy</a>
  </div>
  <br>
  <h2>Zarządzaj swoimi danymi, sprawdzaj terminy wizyt, wystawiaj opinię i rób co tylko chcesz</h2>
  <div class="btn-container">
    <a th:href="@{/patients}" class="btn btn-primary btn-lg">Przejdź do panelu pacjenta</a>
  </div>
</div>
