<div xmlns:th="http://www.w3.org/1999/xhtml">

  <div th:if="${isAdmin}" class="role-div">

    <h1>Witaj, Adminie!</h1>
    <h2>Do Twojej dyspozycji są poniższe panele</h2>

    <div class="container">

      <a th:href="@{/doctors}" class="btn btn-primary btn-lg">Przeglądaj dostępnych lekarzy</a>
      <a th:href="@{/patients/dashboard/5}" class="btn btn-primary btn-lg">Przejdź do panelu pacjenta</a>

      <a th:href="@{/doctors/panel}" class="btn btn-primary btn-lg">Panel z lekarzami</a>
      <a th:href="@{/patients/panel}" class="btn btn-primary btn-lg">Panel z pacjentami</a>

      <a th:href="@{/visits/panel}" class="btn btn-primary btn-lg">Panel z wizytami</a>
      <a th:href="@{/opinions/panel}" class="btn btn-primary btn-lg">Panel z opiniami</a>

      <a th:href="@{/reservations/panel}" class="btn btn-primary btn-lg">Panel z rezerwacjami</a>
      <a th:href="@{/reservations/calendar}" class="btn btn-danger btn-lg">Kalendarz</a>

    </div>









<!--    <h1>Witaj, Adminie!</h1>-->
<!--    <h2>Do twojej dyspozycji są poniższe panele</h2>-->

<!--    <div class="d-grid gap-2 col-6 mx-auto">-->
<!--      <a th:href="@{/doctors}" class="btn btn-primary ">Przeglądaj dostępnych lekarzy</a>-->
<!--      <a th:href="@{/patients/dashboard/5}" class="btn btn-primary ">Przejdź do panelu pacjenta</a>-->
<!--    </div>-->
<!--    <br>-->

<!--    <div class="d-grid gap-2 col-6 mx-auto">-->
<!--      <a th:href="@{/doctors/panel}" class="btn btn-primary ">Panel z lekarzami</a>-->
<!--      <a th:href="@{/patients/panel}" class="btn btn-primary ">Panel z pacjentami</a>-->
<!--    </div>-->
<!--    <br>-->

<!--    <div class="d-grid gap-2 col-6 mx-auto">-->
<!--      <a th:href="@{/visits/panel}" class="btn btn-primary ">Panel z wizytami</a>-->
<!--      <a th:href="@{/opinions/panel}" class="btn btn-primary ">Panel z opiniami</a>-->
<!--    </div>-->
<!--    <br>-->

<!--    <div class="d-grid gap-2 col-6 mx-auto">-->
<!--      <a th:href="@{/reservations/panel}" class="btn btn-primary ">Panel z rezerwacjami</a>-->
<!--      <a th:href="@{/reservations/calendar}" class="btn btn-danger ">Kalendarz</a>-->
<!--    </div>-->
<!--    <br>-->

  </div>

  <div th:if="${isDoctor}" class="role-div">

    <h1>Witaj, Doktorku!</h1>
    <h2>W przygotowaniu jest panel dla lekarza</h2>
    <h2>Na razie możesz tylko poprzeglądać lekarzy</h2>
    <div class="btn-container">
      <a th:href="@{/doctors}" class="btn btn-primary btn-lg">Przeglądaj dostępnych lekarzy</a>
      <a th:href="@{/patients/dashboard/5}" class="btn btn-primary btn-lg">Przejdź do panelu lekarza(nie
        działa)</a>
    </div>

  </div>

  <div th:if="${isUser}" class="role-div">

    <h1>Witaj, Pacjencie!</h1>
    <h2>Korzystaj z naszych usług! Umów się na wizytę i nie trać czasu ani zdrowia!</h2>
    <div class="btn-container">
      <a th:href="@{/doctors}" class="btn btn-primary btn-lg">Przeglądaj dostępnych lekarzy</a>
    </div>
    <br>
    <h2>Zarządzaj swoimi danymi, sprawdzaj terminy wizyt, wystawiaj opinię i rób co tylko chcesz</h2>
    <div class="btn-container">
      <a th:href="@{/patients}" class="btn btn-primary btn-lg">Przejdź do panelu pacjenta</a>
    </div>

  </div>

</div>
