<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Visit</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" th:href="@{/css/style-visit.css}">

</head>
<body>
  <div class="container">
    <div class="header">
      <div class="header-logo">
        <a href="/" th:href="@{/}">
          <img th:src="@{/images/2135.jpg}" alt="Logo" title="Strona główna">
        </a>
      </div>
      <a th:href="@{/}" class="btn btn-info" role="button">Powrót do strony głównej</a>
    </div>

    <h2>Wizyta</h2>
    <table class="table table-striped table-hover">
      <tr>
        <th>Id</th>
        <th>Lekarz id</th>
        <th>Dane lekarza</th>
        <th>Pacjent id</th>
        <th>Dane pacjenta</th>
        <th>Data</th>
      </tr>
      <tr>
        <td th:text="${visit.visitId}"></td>
        <td th:text="${visit.doctor.doctorId}"></td>
        <td>
          <a th:href="@{/doctors/{doctorId}/show(doctorId=${visit.doctor.doctorId})}">
            <span th:text="${visit.doctor.name + ' ' + visit.doctor.surname + ' ' + visit.doctor.title}"></span>
          </a>
        </td>
        <td th:text="${visit.patient.patientId}"></td>
        <td th:text="${visit.patient.name + ' ' + visit.patient.surname}"></td>
        <td th:text="${#temporals.format(visit.dateTime, 'dd MM yyyy HH:mm')}"></td>
      </tr>
    </table>
      <h2>Opis wizyty</h2>
      <hr>
      <h1 th:text="${visit.note}"></h1>
      <br>
      <br>


    <hr>
      <div class="media">

        <div th:if="${opinion != null}" class="media-body">
          <h2>Opinia</h2>
          <table class="table table-striped table-hover">
            <tr>
              <th>Id</th>
              <th>Lekarz</th>
              <th>Pacjent</th>
              <th>Data</th>
            </tr>
            <tr>
              <td th:text="${opinion.opinionId}"></td>
              <td th:text="${opinion.doctor.name + ' ' + opinion.doctor.surname + ' ' + opinion.doctor.title}"></td>
              <td th:text="${opinion.patient.name + ' ' + opinion.patient.surname}"></td>
              <td th:text="${#temporals.format(opinion.createdAt, 'dd MM yyyy HH:mm')}"></td>
            </tr>
          </table>
          <h2 th:text="${opinion.comment}"></h2>
        </div>

        <div th:unless="${opinion != null}" class="media-body">
          <h2>Brak opinii, możesz ją dodać, wypełniając pole i naciskając przycisk</h2>

          <form th:action="@{/opinions/add/{visitId}/{doctorId}/{patientId}(visitId=${visit.visitId},
          doctorId=${visit.doctor.doctorId}, patientId=${visit.patient.patientId})}" method="POST">
            <p>Treść opinii: <input type="text" class="form-control" name="comment" /></p>
            <br>

            <button type="submit" class="btn btn-primary btn-lg">Dodaj opinię</button>
          </form>
        </div>

    </div>
    <br>

    <div class="actions">
      <a th:href="@{/doctors/{doctorId}/schedule(doctorId=${visit.doctor.doctorId})}" class="btn btn-primary btn-lg">Umów kolejną wizytę</a>
      <a th:href="@{/opinions/doctor/{doctorId}(doctorId=${visit.doctor.doctorId})}" class="btn btn-primary btn-lg">Opinie o tym lekarzy</a>
      <button class="btn btn-primary" onclick="history.go(-1);">Powrót</button>
    </div>

    <div class="footer">
      <div th:replace="~{fragments/footer.html}"></div>
    </div>
  </div>
</body>
</html>
