.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.content img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 2rem;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.content, .btn-container {
    display: flex;
    justify-content: center;
    margin: 15px;
    background-color: #f5f5f5;
}
/*.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.btn-container a {
  flex: 0 0 49%; /* Ustaw odpowiednią szerokość przycisków */
 /* margin: 5px;
}*/



.content, .btn-container, .btn-primary, .btn-danger {
    margin: 0 1rem;
}

/* nagłówek */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f5f5f5;
  height: 150px;
}
.logo {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.logo-spec {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-left: 25px;
}

.welcome {
    display: inline-block;
}

.login-button {
    float: right;
}
.header-logo {
  flex-grow: 1;
}

.header-logo img {
  max-width: 25%;
  height: auto;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden; /* Dodana linia */
}
.photo-container img {
  width: 200px;
  height: 280px;
  object-fit: cover;
  object-position: top; /* Dodana linia */
  margin-right: 20px;
}
.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.actions button {
  margin-right: 10px;
}

.role-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #f5f5f5;
    /*  ????  */
    flex-wrap: nowrap;

}

.btn-container-admin {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-container-admin a {
    flex-grow: 1;
}




/* stopka */
.footer {
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    background-color: #f5f5f5;
    /*zmiany - nie działa*/
    /*position: absolute;
    bottom: 0;*/
}
.contact-info {
  display: flex;
  flex-direction: column;
}
.navigation-menu a[href="/services"] {
  margin-right: 10px;
  color: red;
}

.privacy-policy a[href="/privacy"] {
  margin-right: 10px;
  color: blue;
}
.navigation-menu a, .privacy-policy a {
  margin-right: 10px;
}

.validation, .kredki {
    margin: 10px;
    padding: 80px;
    text-align: center;
}

.pagination-btn {
    margin: 25px 0;
}

.btn-add {
    width: 60vw;
}
