.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-logo {
    flex-grow: 1;
}

.header-logo img {
    max-width: 30%;
    height: auto;
    border-radius: 5%;
    transition: box-shadow 1s;
}

.header-logo img:hover {
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
}

.footer {
    text-align: center;
    margin-top: 30px;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.photo-container img {
    width: 200px;
    height: 280px;
    object-fit: cover;
    object-position: top;
    margin-right: 20px;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* .actions button {
    margin-right: 10px;
} */

.actions button, .actions a {
    margin: auto 20px;
}

ul {
  list-style: none;
}

.confirm-container {
    text-align: center;
    margin: 100px auto;
}