body {
    background-color: #f8f9fa;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.header-logo {
    flex-grow: 1;
}
.header-logo img {
    max-width: 140px;
    height: auto;
}
.footer {
    text-align: center;
    margin-top: 30px;
}
.text-center {
    margin: 60px 40px;
}
.updateContact {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}