<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Lekarzy</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style-doctor-new.css}">

</head>

<body>
<div>
    <div th:replace="~{fragments/header}"></div>
</div>

<div>
    <a th:href="@{/doctors/specializations-new}">Wyszukaj po specjalizacji</a>
    <button class="btn btn-primary btn-block">Wyszukaj po specjalizacji</button>
    <button class="btn btn-primary btn-block">Paginacja</button>

</div>

<div class="foto-container">
    <div class="foto-box" th:each="doctor : ${doctors}">
        <img class="img-box" alt="lekarz"
             th:src="@{'/images/d' + ${doctor.doctorId} + '.jpeg'} ? @{'/images/d' + ${doctor.doctorId} + '.jpeg'} : @{'/images/default.png'}">
        <p class="header-box" th:text="${doctor.name + ' ' + doctor.surname}"></p>
        <p class="content-box" th:text="${doctor.title}"></p>
        <a class="box-btn" th:href="@{'/doctors/' + ${doctor.doctorId} + '/show'}">Pokaż</a>
    </div>
</div>

<div class="footer">
    <div th:replace="~{fragments/footer.html}"></div>
</div>

</body>
</html>
