<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-doctor-new.css}">

    <title>Lista lekarzy o specjalizacji <span th:text="${specialization}"></span></title>

</head>
<body>


<div th:replace="~{fragments/header}"></div>

<div class="container">

    <div class="spec__container">

        <div class="actions__btn">
            <button class="small-btn"><a th:href="@{/doctors}">Pokaż wszystkich lekarzy</a></button>
            <button class="small-btn"><a th:href="@{/doctors/specializations}">Wyszukaj po specjalizacji</a></button>
        </div>

        <h1 class="spec__h1">Lista lekarzy o specjalizacji <i><span th:text="${specialization}"></span></i></h1>

        <div class="foto-spec-container">
            <div class="foto-box" th:each="doctor : ${doctors}">
                <img class="img-box" alt="lekarz"
                     th:src="@{'/images/d' + ${doctor.doctorId} + '.jpeg'} ? @{'/images/d' + ${doctor.doctorId} + '.jpeg'} : @{'/images/default.png'}">
                <p class="header-box" th:text="${doctor.name + ' ' + doctor.surname}"></p>
                <p class="content-box" th:text="${doctor.title}"></p>
                <a class="box-btn" th:href="@{'/doctors/' + ${doctor.doctorId} + '/show'}">Pokaż</a>
            </div>
        </div>


    </div>
    <div class="old-view-div">
        <button class="small-btn old-view"><a th:href="@{/doctors/specialization/__${specialization.toLowerCase()}__-old}">Stary widok</a></button>
    </div>

</div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>
