<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Lekarzy</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style-doctor-new.css}">

</head>

<body>
<div>
    <div th:replace="~{fragments/header}"></div>
</div>

<div class="container">

    <div class="doctor-all__btn">
        <button class="small-btn"><a th:href="@{/doctors/specializations}">Wyszukaj po specjalizacji</a></button>
        <button class="small-btn"><a th:href="@{/doctors}">Pokaż wszystkich lekarzy</a></button>
    </div>

    <div class="foto-container">
        <div class="foto-box" th:each="doctor : ${doctors}">
            <img class="img-box" alt="lekarz"
                 th:src="@{'/images/d' + ${doctor.doctorId} + '.jpeg'}
                 ? @{'/images/d' + ${doctor.doctorId} + '.jpeg'} : @{'/images/default.png'}">
            <p class="header-box" th:text="${doctor.name + ' ' + doctor.surname}"></p>
            <p class="content-box" th:text="${doctor.title}"></p>
            <a class="box-btn" th:href="@{'/doctors/' + ${doctor.doctorId} + '/show'}">Pokaż</a>
        </div>
    </div>

    <div class="pagination-container">
        <div class="pagination">

            <a th:if="${currentPage > 1}" th:href="@{/doctors/pagination(page=${currentPage - 1})}">&laquo;</a>
            <a th:if="${currentPage == 1}" class="non-active" onclick="return false;">&laquo;</a>

            <a th:each="pageNumber : ${#numbers.sequence(1, totalPages)}"
               th:href="@{/doctors/pagination(page=${pageNumber})}"
               th:text="${pageNumber}"
               th:class="${pageNumber == currentPage} ? 'active' : ''">
            </a>

            <a th:if="${currentPage < totalPages}" th:href="@{/doctors/pagination(page=${currentPage + 1})}">&raquo;</a>
            <a th:if="${currentPage == totalPages}" class="non-active" onclick="return false;">&raquo;</a>

        </div>
    </div>

</div>

<div th:replace="~{fragments/footer.html}"></div>

</body>
</html>
