<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Doctor Schedule</title>
</head>
<body>
<h2>Dzisiaj jest:</h2>
<h3 th:text="${currentDayOfWeek}"></h3>
<h3 th:text="${today}"></h3>
<h3 th:text="${dzisiaj} + ' ' + ${todayFormat}"></h3>
<h3 th:text="${currentTime}"></h3>

<p> ---------------- </p>

<p th:text="'Dzisiaj jest ' + ${dzisiaj} + ' ' + ${todayFormat}"></p>


<p th:text="'Godzina ' + ${czas}"></p>

<p>Czy lekarz dzisiaj przyjmuje:</p>
<p th:text="${czyPracuje}"></p>

<p> --------------------- </p>

<p>Dni w jakich lekarz pracuje</p>
<p th:text="${daysInWeek}"></p>

<p>Kolejne możliwe dni pracy lekarza w obecnym tygodniu</p>
<ul th:each="day : ${nextDays}">
    <li>
        <h3 th:text="${day}"></h3>
    </li>
</ul>

<p> --------------- </p>

<p>Grafik na pozostałe dni tego tygodnia</p>

<p th:text="${dateOfDaysInCurrentWeek}"></p>


<p th:text="${currentWeekDates}"></p>

<p> ============  </p>

<p>Wyświetl pozostałe dni tygodnia z datą</p>
<p th:text="${currentWeekLeftDays}"></p>

<p> ================  </p>

<p>Lista z dniami i datami</p>
<ul th:each="day : ${currentWeekLeftDays}">
    <li>
        <h2 th:text="${day.key + ' ' + day.value}"></h2>
    </li>
</ul>


<p> ########################## </p>

<h1>Doctor Schedule</h1>
<h1 th:text="${doctor.name + ' ' + doctor.surname + ' ' + doctor.title}"></h1>
<ul th:each="workingHours : ${workingHoursList}">
    <li>
        <h3 th:text="${workingHours.dayOfTheWeek.name}"></h3>
        <p th:text="'Working hours: ' + ${workingHours.startTime} + ' - ' + ${workingHours.endTime}"></p>
        <p>Appointment times:</p>
        <ul>
            <li th:each="time : ${workingHours.appointmentTimes}" th:text="${time}"></li>
        </ul>
    </li>
</ul>

</body>
</html>
