<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Lekarza</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Nawigacja -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" th:href="@{/}">©E-clinic</a>
    <a class="navbar-brand" href="#">Panel Lekarza</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Strona główna</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#reservations">Rezerwacje</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#patients">Pacjenci</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Wizyty</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#opinions">Opinie</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:history.go(-1);">Powrót</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>


    <div class="container mt-4">
        <h1>Witaj, Dr <span th:text="${doctor.name}"></span> <span th:text="${doctor.surname}"></span></h1>

        <p>To jest twój panel lekarza. Tutaj możesz zarządzać pacjentami, sprawdzać wizyty i wiele innych.</p>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="patients-tab" data-toggle="tab" href="#patients" role="tab" aria-controls="patients" aria-selected="true">Pacjenci (wszyscy)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reservations-tab" data-toggle="tab" href="#reservations" role="tab" aria-controls="reservations" aria-selected="false">Rezerwacje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="opinions-tab" data-toggle="tab" href="#opinions" role="tab" aria-controls="opinions" aria-selected="false">Opinie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="visits-tab" data-toggle="tab" href="#visits" role="tab" aria-controls="visits" aria-selected="false">Wizyty</a>
            </li>

        </ul>

        <div class="tab-content" id="myTabContent">
            <!-- Zakładka Pacjenci -->
            <div class="tab-pane fade show active" id="patients" role="tabpanel" aria-labelledby="patients-tab">
                <h2>Lista Pacjentów</h2>

                <div class="d-flex justify-content-end">
                    <a th:href="@{/doctors/dashboard-new?sort=asc}" class="btn btn-link">Sortuj rosnąco-wiek</a>
                    <a th:href="@{/doctors/dashboard-new?sort=desc}" class="btn btn-link">Sortuj malejąco-wiek</a>
                    <a th:href="@{/doctors/dashboard-new?sort=alpha}" class="btn btn-link">Sortuj alfabetycznie</a>
                    <a th:href="@{/doctors/dashboard-new}" class="btn btn-link">Id</a>
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Data Urodzenia</th>
                        <th>PESEL</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient : ${patients}">
                        <td th:text="${patient.patientId}"></td>
                        <td th:text="${patient.name}"></td>
                        <td th:text="${patient.surname}"></td>
                        <td th:text="${patientService.getBirthDate(patient.pesel)}"></td>
                        <td th:text="${patient.pesel}"></td>

                        <td>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <button class="btn btn-primary">Edytuj</button>
                                    <button class="btn btn-primary">Historia pacjenta</button>
                                </div>
                                <div>
                                    <button class="btn btn-danger">Usuń</button>
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <!-- Zakładka Rezerwacje -->
            <div class="tab-pane fade" id="reservations" role="tabpanel" aria-labelledby="reservations-tab">
                <h2>Lista Rezerwacji</h2>

                <div class="d-flex justify-content-end">
                    <p>sortuje, ale odświeża całą stronę</p>
                    <a th:href="@{/doctors/dashboard-new?sort=date}" class="btn btn-link">Sortuj-data</a>
                    <a th:href="@{/doctors/dashboard-new}" class="btn btn-link">Id</a>
                </div>


                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Dzień tygodnia</th>
                        <th>Godzina</th>
                        <th>Pacjent</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation: ${reservations}">
                        <td th:text="${reservation.reservationId}"></td>
                        <td th:text="${reservation.day}"></td>
                        <td>
                            <span th:switch="${reservation.day.getDayOfWeek().name()}">
                                <span th:case="'MONDAY'">Poniedziałek</span>
                                <span th:case="'TUESDAY'">Wtorek</span>
                                <span th:case="'WEDNESDAY'">Środa</span>
                                <span th:case="'THURSDAY'">Czwartek</span>
                                <span th:case="'FRIDAY'">Piątek</span>
                            </span>
                        </td>

                        <td th:text="${reservation.startTimeR}"></td>

                        <td>
                            <span th:each="name : ${names}" th:if="${name.key == reservation.patientId}" th:text="${name.value}"></span>
                        </td>

                        <td>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <button class="btn btn-primary">Edytuj</button>
                                    <button class="btn btn-primary">Historia pacjenta</button>
                                </div>
                                <div>
                                    <button class="btn btn-danger">Usuń</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>






            <!-- Zakładka Opinie -->
            <div class="tab-pane fade" id="opinions" role="tabpanel" aria-labelledby="opinions-tab">
                <h2>Opinie pacjentów</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Treść</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="opinion : ${opinions}">
                        <td th:text="${opinion.opinionId}"></td>
                        <td th:text="${opinion.comment}"></td>
                        <td>
                            <div>
                                <button class="btn btn-primary">Pokaż szczegóły</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Zakładka Wizyty -->
            <div class="tab-pane fade" id="visits" role="tabpanel" aria-labelledby="visits-tab">
                <h2>Wizyty</h2>

                <div class="d-flex justify-content-end">
                    <a th:href="@{/doctors/dashboard-new?sort=date-visit}" class="btn btn-link">Sortuj-data</a>
                    <a th:href="@{/doctors/dashboard-new?sort=alpha-visit}" class="btn btn-link">Sortuj pacjenci-alfabetycznie</a>
                    <a th:href="@{/doctors/dashboard-new}" class="btn btn-link">Id</a>
                </div>


                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Dzień tygodnia</th>
                        <th>Godzina</th>
                        <th>Pacjent</th>
                        <th>Notatka</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="visit : ${visits}">
                        <td th:text="${visit.visitId}"></td>
                        <td th:text="${visit.dateTime.toLocalDate()}"></td>

                        <td>
                            <span th:switch="${visit.dateTime.getDayOfWeek().name()}">
                                <span th:case="'MONDAY'">Poniedziałek</span>
                                <span th:case="'TUESDAY'">Wtorek</span>
                                <span th:case="'WEDNESDAY'">Środa</span>
                                <span th:case="'THURSDAY'">Czwartek</span>
                                <span th:case="'FRIDAY'">Piątek</span>
                            </span>
                        </td>



                        <td th:text="${visit.dateTime.toLocalTime()}"></td>
                        <td th:text="${visit.patient.name} + ' ' + ${visit.patient.surname}"></td>
                        <td th:text="${visit.note}"></td>

                        <td>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <button class="btn btn-primary">Edytuj</button>
                                    <button class="btn btn-primary">Historia pacjenta</button>
                                </div>
                                <div>
                                    <button class="btn btn-danger">Usuń</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>





<!-- Przyciski nawigacyjne -->
<div class="mt-3 action-btn__doctor-dashboard">
    <button class="btn btn-primary" onclick="showPatients()">Pacjenci</button>
    <button class="btn btn-primary" onclick="showReservations()">Rezerwacje</button>
    <button class="btn btn-primary" onclick="showOpinions()">Opinie</button>
    <button class="btn btn-primary" onclick="showVisits()">Wizyty</button>
</div>


<script>
    function showPatients() {
        $('#myTab a[href="#patients"]').tab('show');
    }

    function showReservations() {
        $('#myTab a[href="#reservations"]').tab('show');
    }

    function showOpinions() {
        $('#myTab a[href="#opinions"]').tab('show');
    }

    function showVisits() {
        $('#myTab a[href="#visits"]').tab('show');
    }
</script>

</body>
</html>
