<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style-doctor-new.css}">

  <title>Lista lekarzy o specjalizacji <span th:text="${specialization}"></span></title>

</head>
<body>


<div th:replace="~{fragments/header}"></div>

<div class="spec__container">

  <h1 class="spec__h1">Lista lekarzy o specjalizacji <i><span th:text="${specialization}"></span></i></h1>

  <div class="foto-spec-container">
    <div class="foto-box" th:each="doctor : ${doctors}">
      <img class="img-box" alt="lekarz"
           th:src="@{'/images/d' + ${doctor.doctorId} + '.jpeg'} ? @{'/images/d' + ${doctor.doctorId} + '.jpeg'} : @{'/images/default.png'}">
      <p class="header-box" th:text="${doctor.name + ' ' + doctor.surname}"></p>
      <p class="content-box" th:text="${doctor.title}"></p>
      <a class="box-btn" th:href="@{'/doctors/' + ${doctor.doctorId} + '/show'}">Pokaż</a>
    </div>
  </div>

  <div class="actions__btn">

    <a class="btn btn-light" th:href="@{/doctors}">Pokaż wszystkich lekarzy</a>
    <br>
    <a th:href="@{/doctors/specializations}" class="btn btn-primary me-2">Wyszukaj po specjalizacji</a>

  </div>

</div>

<!--  <div class="footer">-->
<!--    <div th:replace="~{fragments/footer.html}"></div>-->
<!--  </div>-->

<div th:replace="~{fragments/footer}"></div>

<script>
  if (document.body.scrollHeight <= window.innerHeight) {
      document.querySelector("footer").style.position = "static";
<!--      document.querySelector("footer").style.position = "fixed";-->
  }
</script>

</body>
</html>
