<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-doctor-new.css}">

    <title>Specjalizacje</title>

    <style>
        .list-container {
            display: flex;
            justify-content: space-between;
            width: 800px;
            text-align: center;
        }

        .list-column {
            width: 48%;
            box-sizing: border-box;
        }

        .list-group-item {
            margin-bottom: 10px;
        }

        .content-div {
            display: flex;
            justify-content: center;
            margin: 50px auto;
            text-align: center;
        }

    </style>

</head>
<body>

<div th:replace="~{fragments/header}"></div>

<div class="container">

    <div class="content-div">
        <div class="list-container">
            <div class="list-column">
                <a th:each="specialization, iterStat : ${specializations}"
                   th:href="@{/doctors/specialization/__${specialization.toLowerCase()}__}"
                   class="list-group-item list-group-item-action"
                   th:if="${iterStat.index % 2 == 0}">
                    <b><span th:text="${specialization}"></span></b>
                </a>
            </div>
            <div class="list-column">
                <a th:each="specialization, iterStat : ${specializations}"
                   th:href="@{/doctors/specialization/__${specialization.toLowerCase()}__}"
                   class="list-group-item list-group-item-action"
                   th:if="${iterStat.index % 2 != 0}">
                    <b><span th:text="${specialization}"></span></b>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="old-view-div">
    <button class="small-btn old-view"><a th:href="@{/doctors/specializations-old}">Stary widok</a></button>
</div>

<div th:replace="~{fragments/footer.html}"></div>

</body>
</html>
